@font-face {
	font-family: 'DungGeunMo';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
	font-family:'DungGeunMo',sans-serif;

}

.score{
	margin-bottom: 20px;
}

.game-container{
	text-align: center;
	position: relative;
}

canvas{
	display: block;
	margin: 0 auto;
	background-color: #000;
}

button{
	margin: 5px;
}

.difficulty-selector {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.game-over{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 48px;
	color: red;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border-radius: 10px;
}
.item-status {
    height: 30px;
    width: 180px; /* 충분한 공간 확보 */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  /* 아이콘 사이 간격 */
    font-size: 24px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* 옵션: 배경 */
    border-radius: 8px;
}

#gameCanvas{
	cursor: url("cursor.png") 16 16, auto;
}

#ad1, #ad2 {
  position: absolute;
  top: 100px;
  z-index: 9999;
}

#ad3, #ad4{
  position: absolute;
  top: 430px;
  z-index: 9999;
}

#ad5 {
  position: absolute;
  top: 620px;
  z-index: 9999;
}

#ad6 {
  position: relative;
  width: 970px;
  height: 20px;
  margin: 20px auto 0 auto; /* 중앙 정렬 + 위 여백 */
  z-index: 9999;
}

.ad-horizontal-image {
  width: 100%;
  cursor: pointer;
}

.ad-left {
  left: calc(50% - 500px - 170px - 10px);
  /* 너비 170px, 왼쪽으로 10px 벗어나게 */
}

.ad-right {
  left: calc(50% + 500px + 10px);
  /* 오른쪽으로 10px 벗어나게 */
}

.ad-box {
  position: relative;
  width: 170px;
}

.ad-image {
  width: 100%;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
#flashOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 99999;
  transition: opacity 0.3s ease;
}
